<h3 class="show-title"> <%= @job['title'] %> </h3>


<div class="show-info">
  <em>
    <%= "posted on #{@post_date} on #{@job['poster']}" %>
  </em>
  <br>
  <b><%= "#{@job['company']} - #{@job['city']}, #{@job['state']}" %></b>
  <br><br>
  Description: <%=@job['body'] %>
</div>
